endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_endpointPrivacy true

sv_hostname "Base Template foltone"
set steam_webApiKey ""
sv_licenseKey 
sv_maxclients 10

sets sv_projectName "Template foltone"
sets tags "dev, foltone, template"
sets locale "fr-FR"
setr sv_type "DEV"
sets discord " https://discord.com/invite/X9ReemrhKh"
sets crédit "Base Développé par foltone"

sv_scriptHookAllowed 0
set onesync on
# si vous n'arrivez pas à lier votre bdd regarder ici
# if you can't link your database look here
# https://overextended.dev/oxmysql#configure-your-server
# set mysql_connection_string "mysql://root:12345@localhost:3306/foltone_template"
set mysql_connection_string "user=root;password=12345;host=localhost;port=3306;database=foltone_template"

set mysql_ui true

sv_enforceGamebuild 3095

setr esx:locale "fr"

################## FIVEM DEFAULT #################
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap
ensure chat-theme-gtao

add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

################### STANDALONE ###################
ensure bob74_ipl
ensure FiveM-CoordsSaver
ensure loading
ensure oxmysql
ensure vSync

###################### ESX #######################
ensure es_extended
ensure [ESX]
ensure sublime_playerCreator

################### ESX ADDONS ###################
ensure esx_addonaccount
ensure esx_addoninventory
ensure esx_basicneeds
ensure esx_billing
ensure esx_datastore
ensure esx_license
ensure esx_society
ensure esx_status
ensure jsfour-idcard

#################### FOLTONE #####################
ensure foltone_admin
ensure foltone_ammunation
ensure foltone_bank
ensure foltone_core
ensure foltone_dead_systeme
ensure foltone_f5
ensure foltone_location
ensure foltone_panneaux_map
ensure foltone_shop

###################### HUD #######################
ensure ader_speedo
ensure foltone_hud_status

###################### VOICE ######################
ensure pma-voice
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
